html {
    scroll-behavior: smooth;
}

.web {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(10, 10, 10);
    font-family: "Pathway Extreme", sans-serif;
    display: flex;
    justify-content: center;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
}

header .top {
    color: rgb(193, 195, 197);
    background-color: rgb(14, 13, 13);
    max-width: 1350px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 6rem;
    justify-content: center;
}

.logo a img {
    height: 150px;
    transition: transform 0.1s ease;
}

.logo a img:hover {
    transform: scale(1.1);
}

#head-menu>ul {
    margin-left: 15rem;
    list-style: none;
    padding: 0;
    display: flex;
}

#head-menu>ul>li {
    margin-left: 2rem;
}

#head-menu>ul>li:hover {
    transform: scale(1.2);
}

.menu-items {
    transition: transform 0.3s ease;
}

.sign-in a img {
    margin-left: 4.5rem;
    margin-right: 20px;
    height: 37px;
}

.sign-in a img:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease;
}

footer {
    display: flex;
    flex-direction: column;
}

hr {
    width: 95%;
}

.list {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.list a {
    color: rgb(202, 202, 202);
    text-decoration: none;
    margin: 0;
    padding-left: 5rem;
}

.list a:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

.foot-major {
    width: 95%;
    margin-top: 10px;
    display: flex;
    height: 100px;
}

.foot-minor1 {
    color: #666565;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 50px;
}

.foot-minor2 {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

#upper-line p {
    color: #504f4f;
    font-size: 17px;
    padding: 0;
    margin: 0;
}

#lower-line p {
    color: #504f4f;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.vid {
    width: 1300px;
    margin: 25px;
    margin-bottom: 100px;
    display: flex;
}

.vid video {
    width: 1000px;
    margin: 0;
}

.major_box {
    width: 300px;
    height: 562px;
    display: flex;
    flex-direction: column;
}

.minorbox1 {
    width: 100%;
    height: 30%;
}

.minorbox2 {
    width: 300px;
    height: 70%;
}

.button-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button1 {
    background-color: rgb(56, 51, 51);
    width: 200px;
    height: 35px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -20px;
    border-radius: 2px;
}
#button1 a{
    color: rgb(216, 213, 213);
    text-decoration: none;
}
#button2 {
    background-color: rgba(240, 31, 31, 0.733);
    width: 200px;
    height: 35px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -20px;
    border-radius: 2px;
}
#button2 a{
    color: rgb(216, 213, 213);
    text-decoration: none;
}
#button1:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

#button2:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
